# Ignore generated folders
statiq-dopetrope-demo/[Bb]in/**
statiq-dopetrope-demo/[Oo]bj/**
statiq-dopetrope-demo/[Oo]utput/**
statiq-dopetrope-demo/[Cc]ache/**
statiq-dopetrope-demo/[Tt]emp/**
statiq-dopetrope-demo/wwwroot/**
